.home-C-S{
    display: flex;
    justify-content: left;
    margin: 3%  6.3%;
}
.sub-h-c-s{
    display: flex;
    flex-direction: row;
}
.shop{
    /* font-weight: lighter; */
    opacity: 0.4;
}
.shopAll-heading{
    display: flex;
    justify-content: left;
    margin: 3%  6.3%;
    font-weight: 100;

}
.shopAll-heading h2{
    /* font-size: larger; */
    font-weight: 400;

}
.filter-section{
    /* text-align: right; */
    /* display: flex; */
    /* justify-content:right; */
    margin : 0% 5% ;
}
.sub-size{
    font-weight:700;
     /* background-color:red; */
    display: flex;
    opacity: 0.8;
    /* width: 100%; */
    justify-content: space-between;
}
.all-size{
    width: 28%;
    margin: 0% 7%;
    line-height: 9.5vh;
    /* background-color: red; */
    /* padding:0% 5%; */
    /* row-gap:250px ; */
}
.puls{
    opacity: 0.4;
    font-size: 22px;
}
.sub-h-c-s p{
    font-size: smaller;
}
.filter-sub-sec{
    display: flex;
    width: 90%;
    /* background-color: red; */
    justify-content:space-around;
}
.filter-section{
    display: flex;
    justify-content: space-between;
    /* padding-top: 5%; */
    /* margin: 1% 75%; */
    /* margin-bottom: 2%; */
}
.price-section{
    display: flex;
    justify-content: center;
}
.final-price{
    opacity: 0.4;
    text-decoration: line-through;
}
.size-number{
    display: flex;
     /* width: 80%; */
     /* background-color: red; */
    /* justify-content: left; */
    flex-direction: column;
    margin-bottom: 5%;
    /* position: relative; */
}
.all-size input{
    /* position: absolute; */
    /* left: 0; */
    /* margin: 20%  0%; */
    /* padding-right:10%; */
}
.input-div{
    display: flex;
    justify-content:left;
    line-height: 3.9vh;
    /* line-height: 5vh; */
}   
.price-field{
    display: flex;
    /* flex-wrap: wrap; */


   justify-content:start;
   /* flex-direction: row; */
   width:100%;
   /* height: fit-content; */
   /* background-color: red; */
}
.price-input{
    font-family: Helvetica,'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 0.75rem 1rem;
    font-size: 1.0rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
    color: #404040;
    background: #ffffff;
    border: 1px solid rgba(64, 64, 64, 0.4);
    transition: border-color 0.2s ease-out;
    display: block; 
    width:70%;
    line-height: 1.4;
    border-radius: 0.5rem;
    /* -webkit-appearance: none; */
}
.input-price-div{
    display: flex;
    justify-content: start;
    flex-direction:column;
    text-align: left;
    padding:0vh 1%;
    /* margin: 0% 1%; */
    line-height: 4vh;
    /* width:fit-content; */
    /* background-color: red; */
    width: 100%;
}
.collection-field{
    display: flex;
    text-align: left;
    /* padding: 2%; */
    /* letter-spacing:1px;; */
    /* justify-content:; */
    flex-direction: row;
    /* margin: 5%; */
}
.collection-div{
    display: flex;
    /* width: 100%; */
    line-height: 4vh;
    flex-direction: column;
    margin-bottom: 4%;
    /* justify-content: left; */
}
.in-stock{
    opacity: 0.4   ;
}
.clear-all{
    display: flex;
    /* flex-wrap: wrap; */
    /* gap: 0.5rem; */
    justify-content: center;
    /* align-items: center; */
    height:100%;

    /* padding:0; */
    /* margin:0; */
    font-size: 12px;
    border: none;
    border-radius:15px;
    width:3.8%;
    list-style: none;
    /* text-align: center; */
    /* border: 1px solid black; */
    background-color: #e2e0e0;;
}
.clear-all p{
    /* text-align: center; */
}
.clear-div{
    display: flex;
    justify-content: space-between;
}
.clear-con{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    list-style: none;
}
.ul-con{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}
.clear-con{
    display: flex;
    /* flex-wrap: wrap; */
    /* gap: 0.5rem; */
    justify-content: center;
    /* align-items: center; */
    height:100%;

    /* padding:0; */
    /* margin:0; */
    font-size: 12px;
    border: none;
    border-radius:15px;
    width:3.8%;
    list-style: none;
    /* text-align: center; */
    /* border: 1px solid black; */
    background-color: #e2e0e0;;
}
@media only screen and (max-width: 600px) {

    .all-section-con{
        display: flex;
        /* word-wrap: break-word; */
        flex-direction:column;
        /* justify-content: ; */
        /* margin: 0% 2%; */
    }
}
@media only screen and (max-width: 600px) {
    .all-section-con{
        display: flex;
        /* word-wrap: break-word; */
        flex-direction:column;
        /* justify-content: ; */
        /* margin: 0% 2%; */
    }
}


@media only screen and (min-width: 768px) {
    .all-section-con{
        display:flex;
        /* place-items: center; */
        /* grid-template-rows: repeat(3, 4fr); */
        /* grid-gap: 1em; */
        /* flex-wrap:wrap; */
        /* width:80%; */
        /* word-wrap: break-word; */
        flex-direction:column;
        /* justify-content:space-evenly; */
        /* margin: 0% 2%; */
    }
}

@media only screen and (min-width: 992px) {

    .all-section-con{

        display: flex;
        flex-direction: row;
        width: 70%;
        /* flex-wrap: wrap; */
        /* justify-content:space-between; */
        margin: 0% 2%;
    }
}