.section__main{
    text-align: center;
}
.section__heading{
    margin: 5% 13%;
    justify-content: center;
    /* width: 55%; */
    text-align: center;
}
h2 {
		text-align: center;
	}

	.items {
		max-width: 920px;
		margin: 0 auto;
	}

	.item {
		box-sizing: border-box;
		padding: 10px;
		margin-top: 30px;
		width: 100%;
	}

	.item h3 {
		font-size: 16px;
		margin: 10px 0px;
	}

	.item video {
		width: 49%;
		display: inline-block;
		padding: 5px;
		margin-bottom: 5px;
	}

	.item .text-block {
		width: 49%;
		display: inline-block;
		vertical-align: top;
		padding: 5px;
	}

	@media only screen and (min-width: 769px) {
		.item {
			/*width: 33%;*/
		}
		.item .text-block {
			padding-left: 20px;
		}
	}

	@media only screen and (max-width: 768px) {
		.item video {
			display: block;
			width: 100%;
		}

		.item .text-block {
			display: block;
			width: 100%;
		}

		.item h3 {
			font-size: 14px;
		}
	}
    .section__heading2{
        margin: 0% 5%;
    }
    .product-thumbnail {
        display: flex;
        margin: 2% 5%;
        justify-content:space-evenly;
    }
    .placeholder_with{
        height: 35%;
        width: 35%;
        align-items:center ;
    }
    .placeholder_with svg{
         height: 95%;
        width: 95%;
        background-color: rgb(237, 238, 238);
    }
	

/* OurStory____________________________________________________ */

	.itemsour {
		max-width: 100%;
	}
	
	.itemss {
		box-sizing: border-box;
		padding: 30px;
		width: 100%;
	}
	.itemss img {
		width: 51%;
		display: inline-block;
		padding: 5px;
		margin-bottom: 5px;
	}

	.itemss .text-block {
		width: 49%;
		display: inline-block;
		padding: 5px;
}
	@media only screen and (max-width: 768px) {
		.itemss img {
			display: block;
			width: 100%;
		}

		.itemss .text-block {
			display: block;
			width: 100%;
		}
	}

	/* Customer Reviews______________________ */
	.error-page{
		text-align: center;
		margin-top: 90px;
		margin-bottom: 70px;
		width: auto;
	}
	.a_page{
		color: black;
	}
	.error-page h1 {
		margin-bottom: 15px;
	}
	.error-page p {
		margin-bottom: 20px;
	}

	/* Blog__________________________________________________ */

.main-container-blog {
		margin: 4% 8%;
	}

.cart-container {
	margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cart-item {
	width: 31.5%; /* Set the width for three cart items in a row */
  margin-bottom: 20px;
  padding: 2px;
  box-sizing: border-box;
  overflow: hidden;
}
.cart-item img {
	width: 100%;
	/* height: 40%;	 */
}
.cart-item-content1 {
	font-size:1.3rem;
	cursor: pointer;
}
.cart-item-content2 {
	font-size:.8rem;
}
.cart-item-content3 {
	font-size:.9rem;
}
.cart-item u {
	cursor: pointer;
}
/* Media query for smaller screens (mobile) */
@media (max-width: 767px) {
  .cart-item {
    width: 100%; /* Set the width to 100% to stack items on smaller screens */
  }
}