.slides{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    /* overflow: scroll;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden; */
    /* border: 1px solid black; */
  }
  .slides button{
    height: 130px;
    /* border: none; */
    /* background: none; */
    background-color: red;
    color: grey;
   }
.rightBtn {
  position: absolute;
  right: 0;
}
/* .prev{
  position: absolute;
  left: 0;
} */

  .linespace{
    line-height: 35px;
  }
  .three-shoes{
    display: flex;
    justify-content: space-between;
  }
  .first img{
    height: 80px;
    width: 80px;
    /* border-radius: 50%;
    border: 2px solid black; */
  }
  .pic{
    font-size: 12px;
    text-align: center;
  }
  .four-btn{
    display: flex;
  }
  .four-btn button {
    border-radius: 10px;
    padding: 12px;
    margin-left: 8px;
  }
  .four-btn button:hover {
    background-color: black;
    color: whitesmoke;
  }
  .btn1 button{
    background-color: rgb(255, 213, 0);
    border: none;
    width: 100%;
    padding: 8px;
  }
  .btn1 button:hover{
    background-color:white;
    border: 1px solid black;
   
  }
  .btn2 button{
    background-color:black;
    color: whitesmoke;
    border: none;
    width: 100%;
    padding: 8px;
    margin-top: 10px;
  }
  .slider{
    background-color: black;
    color: white;
    width: 100%;
  }
  
  .preorder{
    background-color: rgb(255, 213, 0);
    border: none;
    padding: 8PX;
    position: sticky;
  }
  .first .active img {
    border-radius: 50%;
    border: 3px solid black;
  }
 



















  
  