/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.link a {
  color: black;
}
.but button:hover {
background-color: white;
color: black;
}
.main .main-form{
  width: 30%;
  display:inline-block;
}
.logout button{
  background-color: black;
color:  white;
}
.logout button:hover{
background-color: white;
color: black;
}

@media only screen and (max-width: 600px) {
 .main .main-form{
    width: 90%;
    display:inline-block;
  }
}
